<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>슬기로운 취미생활</title>
    <script src="https://kit.fontawesome.com/9e23e332cf.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css" type="text/css" />
  </head>

  <body>
    <%- include('title.ejs') %>

    <div>
      <% if(user) { %> <%- include('navbar.ejs') %> <% } %>

      <section>
        <article>
          <h2>나의 취미생활</h2>

          <div id="card-container">
            <% for (var i = 0; i < data.length; i++) { %>
            <div class="card" id="<%= data[i]._id %>" onclick="openDetail(this)">
              <img
                src="<%= data[i].image %>"
                width="200"
                height="200"
                class="hobby-img"
                alt="취미 사진"
              />
              <div class="card-top">
                <i class="fa-regular fa-heart"></i> <!--하트 아이콘 삽입-->
                <p class="card-title"><%= data[i].title %></p>
                <p></p>
              </div>
              <p class="card-content"><%= data[i].content %></p>
            </div>
            <% } %>
          </div>
        </article>
      </section>
    </div>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script>
        function openDetail(input) {
            open(`/detail/${input.id}`, '_self');
        }
    </script>
  </body>
</html>
