<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>슬기로운 취미생활</title>
    <link rel="stylesheet" href="style.css" type="text/css" />
  </head>

  <body>
    <%- include('title.ejs') %>

    <div>

      <section>
        <article>
          <h3>취미를 잃기 쉬운 현대 사회</h3>
          <h3>여러분은 자신만의 취미를 갖고 계신가요?</h3>
          <h3>슬기로운 취미생활은 취미를 공유하며 영감을 얻는 공간입니다.</h3>
          <h3>사람들과 함께 성장하며 당신의 무한한 가능성을 찾아보세요!</h3>
          <h3>⋮</h3>
        </article>

        <% if(user) { %>
          <article>
            <h3>최근에 공유된 친구의 취미 ✨</h3>
            <div id="card-container">
              <% for (var i = 0; i < data.length; i++) { %>
              <div
                class="card"
                id="<%= data[i]._id %>"
                onclick="openDetail(this)"
              >
                <img
                  src="<%= data[i].image %>"
                  width="200"
                  height="200"
                  class="hobby-img"
                  alt="취미 사진"
                />
                <div class="card-top">
                  <i class="fa-regular fa-heart"></i>
                  <!--하트 아이콘 삽입-->
                  <p class="card-title"><%= data[i].title %></p>
                  <p></p>
                </div>
                <p class="card-content"><%= data[i].content %></p>
              </div>
              <% } %>
            </div>
          </article>
          <br><br>
          <button onclick="logout()" class="sign-btn">로그아웃</button>
        <% } else { %>

        <article>
          <button onclick="login()" class="sign-btn">로그인</button>
          또는
          <button onclick="signup()" class="sign-btn">회원가입</button>
        </article>

        <% } %>
      </section>
    </div>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script>
      function signup() {
        open('/signup', '_self');
      }

      function login() {
        open('/login', '_self');
      }

      function logout() {
        open('/logout', '_self');
      }
      function openDetail(input) {
        open(`/detail/${input.id}`, "_self");
      }
    </script>
  </body>
</html>
